<%- include('../partials/header')  %>

<a href="/skills/new">Add New Skills</a>
    <ul>
      <% skill.forEach(function(s) { %>
        <li>
          <form action="/skills/<%= s.id %>?_method=DELETE"
            class="delete-form" method="POST">
            <button type="submit">X</button>
          </form>
          <a href="/skills/<%= s.id %>"><%= s.skill %></a>
            - 
          <%= s.proficiency ? 'proficient' : 'learning' %>
        </li>
      <% }); %>
    </ul>
    
<%- include('../partials/footer')  %>